﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CoachInfo</title>
    <div>Coach stuff goes in here as text</div>
</head>
<body>
</body>
</html>
