﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    Michael's first first view.<br />
    @ViewBag.WelcomeMessage <br />
    First View is working! <br />

    <a asp-action="CompetitorEdit">Click here to add competitor</a>
</body>
</html>
